h1 {
    margin-left: 30px;
    text-align: left;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(9, 9, 139);
}
P {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    font-family:'Ubuntu', sans-serif; 
}
h3 {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
}
html, body{
    background-color: rgb(255, 255, 255);
}

/* Class Selectors */
.graph-explanation {
    color:rgb(138, 138, 138);
}
.emphasised-sentence {
    color:rgb(6, 38, 134);
    font-weight: bold;
}
.variable_1 {
    color:rgb(19, 128, 190);
    font-weight: bold;
}
.variable_2 {
    color:rgb(11, 156, 125);
    font-weight: bold;
}

/* Pure CSS Modifications */
.pure-u-3 {
    margin-top: 30px;
    height:30vw;
}

.pure-u-1 img{
    width: 100vw;
    height: 20vw;
}

