h1 {
    margin-left: 30px;
    text-align: left;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    margin:5px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(9, 9, 139);
}
P {
    font-size: 14px;
    font-family:'Ubuntu', sans-serif; 
}
h3 {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom:5px;
    text-align: left;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
html, body{
    background-color: rgb(221, 221, 221);
}

h4 {
    margin-left: 5px;
    color:rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom:5px;
    text-align: left;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom:40px;
    text-align: left;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

/* Class Selectors */
.graph-explanation {
    color:rgb(41, 41, 41);
}
.emphasised-sentence {
    color:rgb(6, 38, 134);
    font-weight: bold;
}
.variable_1 {
    color:rgb(19, 128, 190);
    font-weight: bold;
}
.variable_2 {
    color:rgb(243, 142, 26);
    font-weight: bold;
}

.variable_3 {
    color:rgba(221, 173, 101, 0.884);
    font-weight: bold;
}

.variable_4 {
    color:rgb(64, 144, 190);
    font-weight: bold;
}

.signature {
    color:rgb(248, 248, 248);
    font-weight: bold;
    font-size: 14px;
    margin:auto;
    
}

.column {
    float: left;
    width: 45%;
    padding: 5px;
}

.vis-container{
    width:100%
}

.pure-g {
    margin-bottom: 25px;
}

.page {
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 35px;
}

.preamble {
    width: 800px;
    background-color: rgb(201, 201, 201);
    margin: auto;
    padding: 35px;
}

.midpoint{
    width: 800px;
    background-color: rgb(38, 38, 133);
    margin: auto;
    padding: 35px;
}

